/* RESET global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

body {
    
    background-color: rgb(255, 255, 255);
    font-family: "inter" Arial, Helvetica, sans-serif;
    /* margin: 0;
    height: auto; */
    width: 1000px;
    height: 300px;
    padding: 0px;
    margin: auto;
 }
#header {
    display: flex;
    gap: 20px;
    background-color: rgb(167, 158, 164);
    padding: 10px;
    padding: 10px;
    border: 5px ;
    margin: auto;

    
}
#nome  h1 { 
    font-size: 50px;
    font: bold;
}
#nome h4 {
    font-size: 20px;
    font: bold;
}

#endereco p {
    font-size: 20px;
    
    
}
#foto img {
    width: 250px;
    height: 250px;
    border-radius: 48%;
    margin-top: 10px;
    align-items: end;

} 
 
#conteudo {
    padding: 0 100px;
    
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;

}
#experiencias h3 {
    padding-top: 20px;
    font: bold;
}
#experiencias h5{
    padding-top: 10px;
}
#formacao h3{
    padding-top: 20px;
    font: bold;
}
#formacao h5{
    padding-top: 20px;
}
#corpo {
    margin:10px 10px 20px 0;
}
#corpo h2 {
   padding: 0 0 20px;

}
div#endereco {
    text-align: right;
    padding: 10px;
    
}
div#nome {
    padding: 10px;
}
